// Fonts

// Example loading self hosted fonts

@font-face {
    font-family: 'Shnobel';
    src: url('assets/fonts/shnobel/Shnobel-Regular.eot'); /* IE9 Compat Modes */
    src: url('assets/fonts/shnobel/Shnobel-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/fonts/shnobel/Shnobel-Regular.woff') format('woff'), /* Modern Browsers */
         url('assets/fonts/shnobel/Shnobel-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
