//
// Footer
// --------------------------------------------------

.blog .site-footer .wrap {	
		background: #fcfbfb;
}

.site-footer {	
		background: #fff;
	
	.wrap {
		border: 1px solid $light-gray;
		padding-top: 2.45em;
		padding-bottom: 0;
		
		> .row {
			
			.footer-half {
			    text-align: center;
			    align-content: center;
			
			@include breakpoint (medium) {
				text-align: left;
				justify-content: flex-start;
				align-content: flex-start;
			}
			
			}
		
			> .columns {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				
				#footer-first-widget {
					max-width: 250px;
				
					#footer-logo-wrap {
						padding-bottom: 1.4em;
						
						a {
							text-align: center;
							
							img {
								min-width: 221px;
								max-width: 221px;
							}
							
						}
					}
					
					h3 {
						font-family: $raleway;
						font-weight: 600;
						font-size: 1.125rem;
						color: $sky-blue;
						letter-spacing: 0;
						text-align: left;
						padding-bottom: 1.15em;
						padding-left: 57px;
					}
				
				}
			}
			
		}
	
	}
	
	#footer-copyright {
		padding-top: 0.25em;
		padding-bottom: 0.25em;
		display: flex;
		justify-content: space-between;
		
		> div {
			
		}
		
		span.footer-dash {
    			position: relative;
    			bottom: -2px;
		}
		
	}

}