// Primary Navigation
.nav-primary {
	display: none;
    width: 100%;
    background-color: $green;
    
    @include breakpoint(large down) {
        padding: 0;
    }
    
    .menu > .menu-item > a {
        //text-transform: uppercase;   
    }

    .menu-item {  
        border-top: 1px solid $white;
        display: block;
        list-style-type: none;
        width: 100%;
        position: relative;
        z-index: 2;
        
        &:first-child {
            border: none;   
        }
        
        &:hover,
        &.current-menu-item,
        &.current_page_parent,
        &.current-page-ancestor,
        &.current-menu-ancestor,
        &.current-menu-parent,
        &.current-category-ancestor {
    
            > a {
                color: $white;
            }
        } 

    
        a {
            color: $white;
            font-family: $lato;
            font-size: rem-calc(16);
            font-weight: 400;
            margin: 0;
            padding: 20px 50px 20px 15px;
            display: block;
            
                        
        }

    }
    
    .sub-menu {
        @include list-reset;
        background-color: $lime;
        
        ul {
            @include list-reset;   
        }
        
        li img {
            display: none;   
        }
    }
}

@include breakpoint(large) {
    
    .nav-primary {
		display: block;
		width: 100%;
        background-color: transparent;
        position: relative;
        text-align: right;
        padding: rem-calc(10 0);
                
        .menu .menu-item:focus {
            position: static;
        }
                
        .menu-toggle,
        .sub-menu-toggle {
            display: none;
            visibility: hidden;
        }
         
		.sub-menu {
			width: auto;
			display: block;            
		}
	}

	.nav-primary .menu {
		@include list-reset;
		background: transparent;
        display: flex;
        justify-content: flex-end;
        
        
		.menu-item {
			background: transparent;
			border: none;
			width: auto;
			padding: rem-calc(0 10);
            
            @include breakpoint(xxlarge) {
                padding: rem-calc(0 20);
            }
            
 			a {
				color: $dark-gray;
                text-transform: none;
				position: relative;
				display: inline-block; 
				font-size: rem-calc(15);
                line-height: 1.266666667;
                font-weight: 400;
				text-decoration: none;
  			}
 		}

		// First level
		> li.menu-item {
 			padding: rem-calc(8 30);
 			text-align: left;
            position: relative;
            
			> a {
				color: $dark-gray;
                font-size: rem-calc(16);
                line-height: 1.75;
                padding: 0!important;                
 			}
            
            &.current-menu-item,
			&.current_page_parent,
			&.current-page-ancestor,
			&.current-menu-ancestor,
			&.current-category-ancestor {

				> a {
					background: transparent;
                    color: $lime;
 				}
                
			}

			&:hover,
			&:focus,
			&:active {
                
				> a {
					background: transparent;
                    color: $lime; 
				}

			}
            
            a:focus {
                color: $lime; 
            }            
 		}
                
        
        .menu-item .sub-menu {
            @include list-reset;
            position: absolute;
            top: 100%;
            left: auto;
            margin-left: -15px;
            min-width: 190px;
            transform: translateY(-400%);
            padding: rem-calc(10 0);
            opacity: 0;
            z-index: -2;
            background-color: $white;
            box-shadow: 1px 1px 6px 0 #979797;
            
            .menu-item {
				border: none;
				display: block;
				padding: rem-calc(5 15);
                margin: 0;

				> a {
                    background: transparent;
					position: relative;
                    padding: 0;
                    font-size: rem-calc(15);
                    display: inline-block;
                    
                    color: $dark-gray;
                    
                    &:hover {
                        color: $lime;   
                    }
				}
                
                &:hover {
                    a {                        
                        &:after {
                            width: 100%;   
                        }
					}
                }
			}
            
            .menu-item-has-children {
                position: relative;
                .sub-menu {
                    background-color: #ECECEC;
                    width: rem-calc(330);
                    top: 0;
                    right: 100%;
                    
                    .menu-item {
                        padding: rem-calc(20 15);   
                        
                        h5 {
                            margin-bottom: rem-calc(20); 
                            text-transform: uppercase;
                        }
                    }                    
                }
            }
            
			.sub-menu {

			}
        }
        
        //.menu-item > a:focus ~ ul.sub-menu,
        .menu-item.focus > ul.sub-menu,
        .menu-item:hover > ul.sub-menu {
            opacity: 1;
            transform: translateY(0);
            transition: none;
        }

	}
    
    
    
    .fixed-menu {
            
        .nav-primary .menu {
           
            > li.menu-item:not(.button) {
                
                > a {
                    color: $white;
                    &:after {
                        background-color: $white;   
                    }
                }
                
                &.current-menu-item,
                &.current_page_parent,
                &.current-page-ancestor,
                &.current-menu-ancestor,
                &.current-category-ancestor {
    
                    > a {
                        color: $white;
                    }
                    
                }
    
                &:hover,
                &:focus,
                &:active {
                    
                    > a {
                        color: $white; 
                    }
    
                }
                
                a:focus {
                    color: $white; 
                }
                                
            }
                                
        }
           
    }
       
}


.menu .desktop-link {
	@include breakpoint(large down) {
		display: none!important;
	}
}

.menu .mobile-link {
    
	@include breakpoint(xlarge) {
		display: none!important;
	}
}


.secondary-menu-button {
    width: 34px;
    span {
        display: block;
        font-size: 12px;  
        margin-top: 5px; 
    }
}