/*Dashboard login screen*/

.login h1 a {
    background-size: 90% auto;
    background-position: center center;
    background-repeat: no-repeat;
    width: 231px;
	height: 46px;
	outline: none;
    padding: 20px;
    background-color: transparent;
 }