// Archive


// Arrows 

$nav-arrow-width: 31px;
$nav-arrow-height: 22px;
$nav-arrow-color: $primary;
$nav-arrow-color-hover: $secondary;


@mixin nav-arrow( $color: #999, $position: left ) {
    $color: str-replace(#{$color}, '#', '');  
    
    @if $position == 'left' {

        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' viewBox='0 0 31 22'%3E%3Cg fill='none' fill-rule='evenodd' stroke='none' stroke-width='1' transform='translate(-231.000000, -1931.000000) translate(245.500000, 1941.000000) rotate(-180.000000) translate(-245.500000, -1941.000000) translate(211.000000, 1908.000000) translate(20.000000, 21.000000)'%3E%3Cpath class='arrow' fill='%23#{$color}' d='M16 22a1 1 0 0 0 2 0l11-10a1 1 0 0 0 0-2L18 0h-2v2l10 9-10 9v2z'/%3E%3Cpath class='line' stroke='%23#{$color}' stroke-linecap='square' stroke-width='3' d='M26 11H0'/%3E%3C/g%3E%3C/svg%3E"); 

   } @else {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' viewBox='0 0 31 22'%3E%3Cdefs%3E%3Cpolygon id='a' points='0 0 0 65 65 65 65 0 0 0'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd' stroke='none' stroke-width='1' transform='translate(-376.000000, -1239.000000) translate(358.000000, 1218.000000)'%3E%3Cg/%3E%3Cpath class='arrow' fill='%23#{$color}' d='M36 43a1 1 0 0 0 2 0l11-10a1 1 0 0 0 0-2L38 21h-2v2l10 9-10 9v2z'/%3E%3Cpath class='line' stroke='%23#{$color}' stroke-linecap='square' stroke-width='3' d='M46 32H20'/%3E%3C/g%3E%3C/svg%3E");
   }
    
}


.facetwp-filters {
    
    background-color: $white;
    box-shadow: 1px 1px 6px 0 #979797;
    margin: 0 0 $global-margin;
    padding: $global-margin $global-margin $global-margin*1.5;
    text-align: center;
    
    @include breakpoint(large) {
        padding: $global-margin $global-margin 0;   
    }
        
    .wrap {   
    
        @include breakpoint(large) {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;   
        }
    
        > * {
            flex-grow: 1; 
            display: block;
            margin-bottom: 0!important; 
             
            padding: rem-calc($global-padding);
            
            @include breakpoint(large) {
                display: inline-block;
                margin-bottom: $global-margin!important; 
            }
        }
    }
    
    > span {
        color: $dark-gray;
        margin: 0 5px 0 0;
        position: relative;
        line-height: 2.25;
        
        @include breakpoint(large) {
            text-align: right;  
            flex: 0 0 auto!important;
            max-width: 100%; 
        }
    }
    
    .facetwp-facet,
    .facetwp-sort {
 
    }
    
    select {
        outline: none;
        color: #979797;
        background-color: #fff;
        -webkit-appearance: none;
        -webkit-border-radius: 0px;
        background-image: url("data:image/svg+xml;utf8,<svg width='16' height='9' viewBox='0 0 16 9' xmlns='http://www.w3.org/2000/svg'><title>Fill 4</title><path d='M.758.75C.588.91.5 1.13.5 1.343c0 .212.09.433.258.594l6.617 6.316c.17.16.392.246.624.246.23 0 .453-.085.622-.246l6.617-6.316c.347-.33.347-.858 0-1.19-.348-.33-.9-.33-1.247 0L8 6.47 2.004.75C1.658.427 1.097.427.758.75z' fill='#969696' fill-rule='evenodd'/></svg>");
        background-position: 96% 50%;
        background-repeat: no-repeat;
        padding: rem-calc(8 30 8 10);	
        font-size: rem-calc(14);
        border: 1px solid #979797;
        height: rem-calc(36);        
    }
    
    .reset {
        flex: 0 0 auto;
        max-width: 100%;   
    }
    
    button {
        padding: rem-calc(8 30);
        @include button;
        padding: rem-calc(8 3);
        cursor: pointer;
    }
}




.facetwp-pager .facetwp-page {
    padding: 0;
    
    &.active {
        font-weight: 400;   
    }
}




.posts-pagination,
.facetwp-pager {
    @include clearfix;
        
    .nav-links {
        @include list-reset;
        display: flex;
        justify-content: center;
        margin: rem-calc(45 0);
        position: relative;
        
        a span {
            @include screen-reader-text;   
        }
        
        .number {
            margin-top: rem-calc(-5);
            a,
            > span {
                display: inline-block;
                //font-family: $header-font-family;
                font-size: rem-calc(16);
                line-height: 1.75;
                color: $gray;
                margin: rem-calc(0 10 0);
                
                @include breakpoint(large) {
                    margin: rem-calc(0 20 0);
                }
                
                &:after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: transparent;   
                } 
            }
        }
        
        .active a,
        .number span.current {
            color: $lime;
            
            &:after {
                background: $lime;   
            }
        }
        
        &:not(.active) a:hover {
            color: $lime;
        }
                  
        .nav-previous,
        .nav-next {
            
            a {
                display: block;
                width: rem-calc( $nav-arrow-width );
                height: rem-calc( $nav-arrow-height );  
                            
                &:before,
                &:after {
                    display: block;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-position: center;
                    height: $nav-arrow-height; 
                    background-size: auto $nav-arrow-height;
                    
                }
                
                &.disable {
                    cursor: default; 
                    opacity: 0;  
                }
            }
        }
                        
        .nav-previous {
            margin-right: auto;
            padding-right: rem-calc(20);
            
            @include breakpoint(medium) {
                left: 0; 
            }
            
            a {
                &:before {
                    content: '';
                    @include nav-arrow( $nav-arrow-color );
                }
                
                &:not(.disable):hover:before {
                    @include nav-arrow( $nav-arrow-color-hover );
                }   
            }
            
        }
        
        .nav-next {
            margin-left: auto;
            padding-left: rem-calc(20);
            
            @include breakpoint(medium) {
                right: 0; 
            }
            
            a {
                &:before {
                    content: '';
                    @include nav-arrow( $nav-arrow-color, right );
                }
                
                 &:not(.disable):hover:before {
                    @include nav-arrow( $nav-arrow-color-hover, right);
                }   
            }
        }
        
    }
    
}


.filters {
    
    button {
        &:focus {
          outline: none;
        }   
    }

    .dropdown-pane {
        position: absolute;
        z-index: 10;
        display: block;
        width: 280px;
        visibility: hidden;
        background-color: #fff;
        box-shadow: $box-shadow;
        padding-top: rem-calc(10);
        padding-bottom: rem-calc(10);
        
        &.is-open {
            visibility: visible;
        }
        
        &.center {
            left: 50%!important;
            transform: translateX(-50%)!important; 
        }
    }
    
    @include breakpoint(medium down) {
        margin-bottom: rem-calc(40);
    }

}

.filter-button-group {
        
    @include breakpoint(medium down) {
        
        ul {
            @include list-reset;   
            padding: rem-calc(5 0);
        }
        
        li {
            display: block; 
            padding: rem-calc(5 0);  
        }
        
        button {
            width: 100%;  
            
            &.active {
                color: $green;   
            }
        }
    }
    
    @include breakpoint(large) {
        text-align: center; 
        overflow: hidden;
        
        ul {
           margin: 0 -18px 50px;
           visibility: hidden;
           
           li {
                display: inline-block;
                padding: 0 18px;   
           }
           
           > * { 
                visibility: visible; 
           }
           
           > li button:after { 
                content: '';
                display: block;
                width: 0;
                background: $green;
                height: 2px;
                position: relative;
                margin-top: rem-calc(2);
           }
           
           > li button:not(.active):after { 
                transition: width .3s; 
           }
                  
           &:hover > li button:after { 
                width: 0; 
           }
           
           > li button:not(.active):hover,
           > li button.active { 
                &:after {
                    width: 100%;
                }
           }
        }
        
        button {
            
            color: #454C54;
            font-family: $header-font-family;
            font-size: rem-calc(18);
            letter-spacing: 0.7px;
            line-height: 1.444444444;
            text-transform: uppercase;
            cursor: pointer;
            
        }
    }
}