.page-template-downloads {
	
	section.single-product-download {
		margin-top: 4em;
		padding-top: 3.85em;
		overflow: hidden;
		
	&:nth-child(odd) {
		background-color: $light-gray;	
	}
	
		.spd-top {
			
			padding-bottom: 2.35em;
			
			.columns {
				margin-bottom: 2em;
				
			@include breakpoint (medium) {
				margin-bottom: 0;
			}
				
			}
			
			h2 {
				padding-bottom: 0.9em;
			}	
			
			h3 {
				padding-bottom: 0.85em;
			}
			
			.os-nav {
				padding-bottom: 1.55em;
			}
			
			ul.fancy-bullets {
				margin-top: -0.28em;
			}
			
			.download-form {
				
				._form {
					
					max-width: none;
					
				@include breakpoint (medium) {
					max-width: 460px;
				}

					._button-wrapper {
						display: flex;
						align-items: center;
						flex-wrap: nowrap;
						
						.button {
							margin-right: 1em;
						}
						
						small {
							line-height: 1.5;
							
							a {
								white-space: nowrap;
								color: $text-black;
								text-decoration: underline;
								transition: $transition;
								
							&:hover {
								color: $sky-blue;
							}
								
							}
							
						}
						
					}
					
				}
			    
			}
					
		}
		
		.os-wrap {
			display: none;
			position: absolute;
			transition: transform 0.3s linear;
			transform: translateY(50px);
		
		&.visible {
			position: relative;
			transform: translateY(0);
		}
		
		}
	
		
		.tab-content-wrap {
			width: 100%;
			overflow: hidden;
			padding-top: 2em;
						
			.tab-content, .os-wrap {
				display: none;
				position: absolute;
				transition: transform 0.3s linear;
				transform: translateY(50px);
			
			&.visible {
				position: relative;
				transform: translateY(0);
			}
			
			&.release-notes {
				padding-bottom: 2.9em;
			}
			
			
			&.legacy-versions {
				width: 100%;
				
			@include breakpoint (large) {
				width: 50%;
			}
				
				.single-legacy-version {
					border-left: 3px solid $gray;
					padding-top: 6.5em;
					padding-left: 3.075em;
					
				&:last-child {
					padding-bottom: 4.6em;
				}
					
					h3 {
						position: relative;
					
						.legacy-name-accent-wrap {
							width: 36px;
							position: absolute;
							top: 0;
							left: -50px;
							display: flex;
							align-items: center;
							
							span.dash {
								display: inline-block;
								height: 3px;
								width: 20px;
								background: $gray;
							}
							
							span.ring {

								svg circle {
									fill: transparent;
									stroke: $sky-blue;
									stroke-width: 2;
									stroke-dasharray: 250;
									stroke-dashoffset: 1000;
									animation: rotate 5s linear infinite;
								}
							}
							
						}
						
					}
					
					h4.release-date {
						font-size: .875rem;
					    color: #979797;
					    letter-spacing: .5px;
					    text-align: left;
					    line-height: 20px;
					    font-family: $open-sans;
					    text-transform: uppercase;
					}
					
					h4.legacy-link  {
						margin-bottom: 0;
						
						a {
						color: #454C54;
						position: relative;
						
							span {
								position: absolute;
								left: 0;
								bottom: -15px;
								display: inline-block;
								height: 3px;
								width: 47px;
								background-color: $sky-blue;
								transition: $transition;
							}
							
						&:hover {
							span {
								width: 94px;;
							}
						}
					
						}
							
					}
			
				}
								
			}

			}

			
		}
	
	}
	
	a#back-top-top {
	    display: none;
		position: fixed;
		z-index: 99999;
		right: 20px;
		bottom: 20px;
	    border-radius: 100%;
	    height: 41px;
	    width: 41px;
	    background-color: #fff;
		box-shadow: 0 11px 12px 0 rgba(0,0,0,.12);
		
		div {
			width: 100%;
			height: 100%;
		    justify-content: center;
		    align-items: center;		
		img {
			transform: rotateX(180deg);
		}
		
		}
		
	}
	
	
}